body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a:-webkit-any-link {
  color: rgba(23, 69, 199, 0.78) !important;
}

.bookall {
  background-color: rgba(193, 123, 126, 0.59);
  padding: 1px;
}

.search {
  margin: 12px;
}

.list {
  margin: 12px auto 12px auto;
  width: 95%;
}

.anim{
  margin: 3px;
}

.list:hover  .anim {
  margin: 13px;
}

@media screen and (min-width: 780px) {
  .list {
    width: 88%;
  }
}